<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinke.doctorbear">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.HomeSearchActivity" />
        <activity
            android:name=".Activity.HomeTextEdit"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".Activity.MyCollectionActivity" />
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity android:name=".Activity.SearchAllActivity"></activity>
    </application>

</manifest>